.containerSidebar {
  width: 280px;
  min-height: 100vh;
  background: #fff;
  border: 2px solid #32bdb9;
}

.line {
  width: 278px;
  height: 5px;
  background: #134880;
}

.textHover {
    &:hover {
      color: #134880;
      font-weight: 700;
    }
  }