.bgBlue {
    background: linear-gradient(180deg, #134880 0%, #32bdb9 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .containerCardHeader {
    background: radial-gradient(
      50% 1893.49% at 50% 50%,
      #134b81 0%,
      #c5cad7 100%,
      #31bcb8 100%
    );
    text-align: center;
    color: #fff;
    font-weight: 500;
  }
  
  .containerButton {
    width: 400px;
    max-width: 100%;
    margin: auto;
  }
  
  .btnGray {
    background: #414042 !important;
    border-radius: 10px !important;
    color: #fff !important;
    padding: 8px !important;
    &:hover {
      background: #414042;
    }
    &:disabled {
      color: #fff;
      opacity: 0.5;
    }
  }
  