.containerBox1 {
  max-width: 300px;
}

.modalBgColor {
  background-color: #000000e6;
}

.modalBoxImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px;
  outline: none !important;
}

.img {
  width: 100%;
  height: auto;
}

@media (max-width: 599.98px) {
  .containerBox1 {
    max-width: 100%;
  }
}
