.containerNavbar {
    padding: 1rem;
    background: #000000;
    display: flex;
    align-items: center;
  }
  
  .imgLogo {
    width: 100px;
    height: auto;
  }
  
  .textBlue {
    color: #134880;
  }
  
  .subMenuActive {
    background-color: rgb(0 0 0 / 19%) !important;
    color: #134880 !important;
  }
  
  .subMenuNotActive {
    background-color: #fff !important;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04) !important;
    }
  }
  