.cardBlue {
  background: linear-gradient(180deg, #c9f0ff 0%, #6dc6ff 100%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: center;
}

.cardGray {
    background: linear-gradient(180deg, #E4E4E4 0%, #ABABAB 100%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
}

.cardYellow {
    background: linear-gradient(180deg, #E8E592 0%, #D3DE67 100%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
}

.boxWithdrawal {
    background: linear-gradient(0deg, #BAE6E7 0%, #28DC92 100%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 300px;
    max-width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerIcon {
    width: 24px;
    height: 18px;
    background: #fff;
    color: #134880;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBgColor {
    background-color: #000000e6;
  }
  
  .modalBoxImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px;
    outline: none !important;
  }
  
  .img {
    width: 100%;
    height: auto;
  }

@media (max-width: 599.98px) {
    .boxWithdrawal {
        width: 100%;
    }
}
