.modalBgColor {
  background-color: rgb(0 0 0 / 66%);
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 400px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 10px;
  outline: none !important;
}

.selectAtive {
  background: #134880;
}
