$brandBlue: #0070ba;

.containerX {
  position: fixed;
  z-index: 2500;
  background-color: rgba(8, 8, 8, 0.7);
  inset: 0px;
  opacity: 0.85;
  backdrop-filter: blur(2px);
}

.holder {
  width: 800px;
  height: 200px;
  overflow: hidden;
  border-bottom: 4px solid white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textLoading {
  color: rgb(255, 255, 255);
  position: fixed;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.car {
  background-image: url("/images/loading/car.svg");
  background-repeat: no-repeat;
  width: 150px;
  height: 65px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  animation: car 1s ease infinite alternate;
  transform-origin: 50% 50%;
}

.wheels {
  background-image: url("/images/loading/wheels.svg");
  background-repeat: no-repeat;
  width: 118px;
  height: 30px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.windHolder {
  width: 50px;
  height: 30px;
  overflow: hidden;

  position: absolute;
  bottom: 10px;
  left: 36%;
  transform: translateX(-50%);

  .wind,
  .wind2 {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

    position: absolute;
    top: 50%;

    transform: translateY(-50%) translateX(100%);

    animation: windMove 1s ease-in-out infinite;
  }

  .wind2 {
    top: 20%;
    animation-delay: 0.3s;
  }
}

.tree {
  background-repeat: no-repeat;
  width: 48px;
  height: 100px;

  position: absolute;
  bottom: -2px;
  right: 0;
  z-index: -1;

  transform: translateX(100%);
  animation: move 5s linear infinite;

  &.tree1 {
    background-image: url("/images/loading/tree1.svg");
    z-index: 1;
  }

  &.tree2 {
    background-image: url("/images/loading/tree2.svg");
    animation: move 8s linear infinite;
    height: 75px;
  }

  &.tree3 {
    background-image: url("/images/loading/tree3.svg");
    animation: move 11s linear infinite;
    height: 50px;
  }
}

.hill {
  width: 200%;
  height: 25%;
  background-position: 0 40%;
  background-repeat: repeat-x;
  background-size: 50% 100px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;

  &.hill1 {
    background-image: url("/images/loading/hills1.svg");
    animation: landMove 12s linear infinite;
  }

  &.hill2 {
    background-image: url("/images/loading/hills2.svg");
    animation: landMove 17s linear infinite;
  }
}

.cloud {
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;

  transform: translateX(100%);

  &.cloud1 {
    background-image: url("/images/loading/cloud.svg");
    animation: move 25s linear infinite;
  }

  &.cloud1_2 {
    background-image: url("/images/loading/cloud.svg");

    top: 20px;

    animation: move 25s linear infinite;
    animation-delay: 10s;
  }

  &.cloud2 {
    background-image: url("/images/loading/cloud.svg");
    top: 20px;
    animation: move 22s linear infinite;
    animation-delay: 1s;
  }

  &.ccloud2_2 {
    background-image: url("/images/loading/cloud.svg");

    top: 20px;

    animation: move 25s linear infinite;
    animation-delay: 20s;
  }
}

@keyframes windMove {
  0% {
    transform: translateY(-50%) translateX(100%);
  }
  100% {
    transform: translateY(-50%) translateX(-100%);
  }
}

@keyframes windBob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes car {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-1px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes move {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-2000%);
  }
}

@keyframes landMove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-800px);
  }
}

// .containerX {
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
// width: 100%;
// height: 100vh;
// position: fixed;
// z-index: 999;
// background-color: rgba(8, 8, 8, 0.7);
// inset: 0px;
// opacity: 0.85;
// backdrop-filter: blur(2px);
// }

// .circle {
//   border-radius: 50%;
//   border: 16px solid #f3f3f3;
//   border-top: 16px solid #134880;
//   width: 80px;
//   height: 80px;
//   animation: spin 2s linear infinite;
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(359deg);
//   }
// }
