html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: 0;
}
.MuiAccordionSummary-content.Mui-expanded {
  margin: 8px 0;
}

.MuiPaginationItem-root {
  background: #fff !important;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: #9bcb43 !important;
  color: #fff;
}

.MuiPaginationItem-root.Mui-selected:hover {
  background-color: #9bcb43 !important;
}

.MuiPaginationItem-root:hover {
  background-color: #fff !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #555555 !important;
}

.containerFlex {
  display: flex;
}

.bgSky {
  background: #f2fbf7;
}

.textHeader {
  font-size: 24px !important;
}

.textSubHeader {
  font-size: 20px !important;
}

.textContent {
  font-size: 16px !important;
}

.text14px {
  font-size: 14px !important;
}

.textBlue {
  color: #134880 !important;
}

.textGreen {
  color: #26c875 !important;
}

.textRed {
  color: #d36363 !important;
}

.textOrange {
  color: #f59c1a !important;
}

.textYellow {
  color: #d6c754 !important;
}

.fontMedium {
  font-weight: 500;
}

.fontBold {
  font-weight: 700 !important;
}

.btnBlack {
  background: #414042 !important;
  color: #fff !important;
}

.btnBlue {
  background: #134880 !important;
  color: #fff !important;
}

.btnGreen {
  background: #26c875 !important;
  color: #fff !important;
}

.btnRed {
  background: #db5b5b !important;
  color: #fff !important;
}

.btnCream {
  background: #CFCFCF !important;
  color: #fff !important;
}

.btnOutline {
  background: #fff !important;
  color: #000000 !important;
  border: 1px solid #999999;
}

.btnGray {
  background: #414042 !important;
  color: #fff !important;
  padding: 8px !important;
}

.btnGray2 {
  background: #DBDBDB !important;
  color: #fff !important;
  padding: 8px !important;
}

.tableHeader {
  color: #fff;
  border: 0;
  background: #134880;
  text-align: center;
  padding: 16px 0;
}



// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }

@media (max-width: 899.98px) {
  .containerFlex {
    display: block;
  }
}
