.containerCard {
    background: #ffffff;
    border: 5px solid #32bdb9;
    border-radius: 20px;
  }
  
  .containerImage {
    background: linear-gradient(180deg, #e7e7e7 0%, #a9a9a9 100%);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    padding: 10px 0;
  }
  

  .toggleSwitch1 {
    width: 65px;
    height: 37px;
    cursor: pointer;
    margin-right: -5px;
    border: 1px solid #999999;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
  }
  
  .toggleSwitch2 {
    width: 65px;
    height: 37px;
    cursor: pointer;
    margin-left: -5px;
    border: 1px solid #999999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img {
    width: 110px;
    height: 250px;
  }
  